* {
  font-family: "Archivo", sans-serif;
}

.btn {
  border-radius: 0;
}
body,
html {
  overflow-x: hidden;
  background-color: #f2f2f2;
}
.btn-orange {
  background-color: #ffb703;
  border-color: #ffb703;
  color: white;
}
.nav-link {
  position: relative;
}
.nav-link.active::after,
.nav-link:hover::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffb703;
}

.fs-18 {
  font-size: 18px;
}

/* hero */
.hero {
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.title {
  font-size: 42px !important;
}
.pb-100 {
  padding-bottom: 100px;
}
.fs-36 {
  font-size: 36px;
}
.text-orange {
  color: #ffb703;
}

.fs-26 {
  font-size: 26px;
}
.fw-normal {
  font-weight: 300 !important;
}
.btn-black {
  background-color: #000000;
  border-color: #000000;
  color: white;
}
.fs-22 {
  font-size: 22px;
}

.mt-50 {
  margin-top: 50px;
}
.items {
  border-top: 1px solid white;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* contact cards */
.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.shadow-text {
  font-size: 140px;
  color: rgb(217, 217, 217, 0.18);
  font-weight: 600;
  position: absolute;
  top: -70px;
  left: -30px;
}

.lh-1 {
  line-height: 1;
}

.fs-20 {
  font-size: 20px;
}

.position-card {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 85%;
}

/* expertise */
.pb-90 {
  padding-bottom: 90px;
}
.fs-32 {
  font-size: 32px;
}
.card-body.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.fs-24 {
  font-size: 24px;
}
.overlay p {
  display: none;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover p {
  display: block;
  opacity: 1;
}

.prev {
  position: absolute;
  left: 0;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

/* alavokato */
.fs-120 {
  font-size: 120px;
}
.fs-40 {
  font-size: 40px;
}

/* get started */
.get-started {
  background-color: #171717;
}
.pt-70 {
  padding-top: 70px;
}

.fs-48 {
  font-size: 48px;
}

.shadow-text.end {
  left: unset;
  right: -30px;
}

/* faqs */
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

button {
  outline: unset !important;
  box-shadow: unset !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/plus.png");
  transform: rotate(45deg);
}

.accordion-button:not(.collapsed) {
  color: #ffb703 !important;
  background-color: white !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-button {
  padding: 24px;
  border-bottom: 1px solid #efefef;
}

/* footer */
.pt-100 {
  padding-top: 100px;
}
footer {
  background-image: url("../img/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.fs-14 {
  font-size: 14px;
}
input {
  outline: unset !important;
  box-shadow: unset !important;
}

::placeholder {
  color: #fff !important;
  opacity: 1;
}

.p-1416 {
  padding: 14px 16px;
}
.pb-100 {
  padding-bottom: 100px;
}

/* ----------------------- */
/* blog page */
/* ----------------------- */

.py-100 {
  padding: 100px 0;
}

.blog-hero {
  background: url("../img/blog-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fs-42 {
  font-size: 42px;
}

.pt-50 {
  padding-top: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.aaa7a7 {
  color: #aaa7a7;
}

/* ----------------------- */
/* faqs page */
/* ----------------------- */

.placeholder-dark::placeholder {
  color: #a19fa1 !important;
}

/* ----------------------- */
/* contact page */
/* ----------------------- */

iframe {
  width: 100%;
  height: 100%;
}
.contact-input {
  background-color: #dcdcdd;
}

.contact-input::placeholder {
  color: #a19fa1 !important;
}

/* ----------------------- */
/* license requirement page */
/* ----------------------- */

.fa-circle {
  color: #ffb703;
}

.pt-36 {
  padding-top: 36px;
}
.fs-62 {
  font-size: 62px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.bg-17 {
  background-color: #171717;
}

.pb-50 {
  padding-bottom: 50px;
}

.table-holder th,
.table-holder td {
  width: 25%;
  border: 32px solid white;
  padding: 30px;
  vertical-align: middle;
}

.table-holder td {
  background-color: #efefef;
}

.bg-orange {
  background-color: #ffb703 !important;
}
